@use "../../foundation/variables" as v;
/* 
searchButton基準にしてある
*/
.c-button {
    /* 
    bassColor
    */
    @include v.col-searchButton;
    /* shape */
    border-radius: 10px;
    border: 1px solid v.$palette-doveGray;
    /* size */
    width: v.rem(78);
    /* 改行禁止 */
    white-space: nowrap;
    /* text button内テキストはやや小さいためfsz指定必要*/
    font-size: 1rem;
    font-weight: bold;
    color: v.$palette-doveGray;
}

